* {
    box-sizing: border-box;
    font-size: 12px;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(100deg, #e0c3fc, #8ec5fc);
    background-attachment: fixed;
    background-repeat: no-repeat; 
}

h2 {
    font-size: 1.3rem;
    font-weight:700;
    text-align: center;
    padding: 5rem;
    letter-spacing: 0.1rem;
    border-bottom: 0.5px solid #ddd;
    text-transform: uppercase;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }


/* Estilo dos itens da lista */
ul li {
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    transition: 0.2s;
   
}
li {
    display: flex;
    justify-content: space-between;
    
    
}

a {
    text-decoration: none;
    color: inherit;
    margin-right: 20px;
    
}

/* Estilo do botão de deletar */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 11px 20px 20px 20px;
}
  
  .close:hover {
    background-color: #ba7af8;
    color: white;
}


.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #ffffff;
    width: 80vw; 
    margin-top: 10%;
    border-radius: 15px;
    max-width: 800px; 
}


#form {
    display: flex;
    flex-direction: column;
}

#inputAlert {
    text-align: center;
    color: red;
}

.btn {
    background-color: #ba7af8;
    padding: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
}

.btnContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.btnFooter {
    border-style: none;
    background-color: #ffffff;
    color:  #ba7af8;
    padding: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    margin-right: 30px;
    cursor: pointer;
}

.btnFooter:hover {
    background-color: #421370;
    color: #ffffff;
}


.checked{
    text-decoration: "line-through";
    font-weight: bold;
    color: #ffffff;
    background-color: #ddd;
}

.btn:hover {
    background-color: #421370;
}

#userInput {
    padding: 40px;
    border: none;
    font-size: 14px;
    text-align: center;
}


/* Cor do background (on hover) */
ul li:hover {
    background: #ddd;
}

@media (min-width: 47em) { /* 752px */
    .btn {
        padding: 20px;
        padding-left: 60px;
        padding-right: 70px;
    }
}


@media (min-width: 68em) { /* 1088px */
    .btn {
        padding: 20px;
        padding-left: 100px;
        padding-right: 120px;
    }
} 